#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

span {
  animation: loading 1.4s infinite ease-in-out;
  font-size: 100px;
}

@keyframes loading {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

span:nth-child(1) { animation-delay: -0.32s; }
span:nth-child(2) { animation-delay: -0.16s; }